<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
      body {
    background-color: rgb(214, 232, 147);
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
  }
  
  form {
    background-color: rgb(204 225 85);
    padding: 30px;
    border-radius: 10px;
    animation: slideIn 0.5s ease-in-out;
    opacity: 0.8;
    font-size: 1em;

   height: 58%;
    
  }

  .fields{
    font-size: 20px;
    padding : 8px;
  }
  
  @keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }

  input[type="button"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
  }
  
  input[type="submit"]:hover {
    background-color: orange;
  }

  input[type="button"]:hover {
    background-color: orange;
  }
  
  ::-webkit-input-placeholder {
    color: #ccc;
  }
  
  :-moz-placeholder {
    color: #ccc;
  }
  
  ::-moz-placeholder {
    color: #ccc;
  }
  
  :-ms-input-placeholder {
    color: #ccc;
  }
  
    </style>
</head>
<body>

   <div class="container">
  <form  >
    <h1>Random Jokes</h1>
  
    <div  class="fields">
        Name :  <span id="name">{{name}}</span>
    </div>
    
    <div  class="fields">
      Email :   <span id="email">{{email}}</span>
    </div>
     <div  class="fields">
      Joke :
     </div>
     
    <textarea id="joke" name="joke" rows="5">{{joke}}</textarea>

    <input type="text" id="ID" value="{{ID}}" name="ID">
    <input type="button" id="create" value="Create">
    <input type="button" value="Random joke" id="random">
    <input type="button" value="Update" id="update">
    <input type="button" value="Delete" id="delete">
    <input type="button" value="Copy API link" id="api">
  </form>
</div>

 <script>
  
   document.getElementById("create").addEventListener('click',()=>{
    console.log("Something new")
    location.href = "http://localhost:8000/jokes"  ;
     
     
   })

      document.getElementById("random").addEventListener('click',()=>{
    location.href = 'http://localhost:8000/jokesgetData'
   })

  document.getElementById("update").addEventListener('click',()=>{

    localStorage.setItem('name',document.getElementById("name").innerHTML)
    localStorage.setItem('email',document.getElementById("email").innerHTML)
    localStorage.setItem('joke',document.getElementById("joke").value)
    localStorage.setItem('_id',document.getElementById("ID").value)

    console.log(localStorage.getItem('joke')) ;
     location.href = 'http://localhost:8000/updatejoke/' + document.getElementById("ID").value
    console.log(document.getElementById("ID").value)
  })

document.getElementById("delete").addEventListener('click',()=>{
   
    location.href = 'http://localhost:8000/delete/' + document.getElementById("ID").value

})
    
 </script>
</body>
</html>